@font-face {
    font-family: 'eurotype';
    src: url('Eurotype2016-8qmD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    background-color: #3366FF;
    font-family: 'eurotype', sans-serif;
    text-align: center;
    
  }
  
.hh {
    font-family: 'eurotype', sans-serif;
    font-size: 7vw;
  }
  

.a {
    background-color: #003AF2;
    border-color: black;
    width: 16vw;
    height: 20vw;
    color: white;
    margin-right: 2vw;
    margin-left: 1vw;
}

.a:hover {
    background-color: #001e80;
    border-color: black;
    width: 16vw;
    height: 20vw;
    color: rgb(255, 0, 0);
    margin-right: 2vw;
    margin-left: 1vw;
}

/* Hello */